@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;

}

body {

    margin: 0 auto;
    border: 2px solid chocolate;

}

/* Nav bar start */
nav,
.logo,
.nav-menu {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    margin: auto 1.5rem;
}

.nav-menu li {
    list-style-type: none;
    padding: 10px;
    color: var(--Dark-02, #424247);
    font-size: 1.2rem;
    font-weight: 400;

}

.logo-img {
    padding: 1rem;
}

.logo-name {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

span {
    color: #ff5400;
}

.nav-menu .home {
    color: #ff5400;
    font-weight: 700;
}

/* Nav bar end */

/* tour section start */
.tour-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 60px 0px 60px 0px;
}

.tour-container1 {
    width: 577px;
    padding-bottom: 2.5rem;
}

ul li,
.tour-des {
    padding: 1rem;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.tour-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.tour-des {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.pri-btn {
    border-radius: 8px;
    background: #FF5400;
    padding: 0.6rem 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    border: 0;
}

/* tour section end */

/* destination section start */
.destination-section {
    margin-top: 6.25rem;
}

.mal-indo,
.sri-north-kas,
.bang-ban {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;

}

.mal-indo {
    margin-top: 3rem;
}

/* destination section end */

/* Choose Section start */

.choose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 6.25rem;
}

.choose-title,
.choose-des,
.price {
    text-align: center;
}

.hotel,
.map,
.price {
    width: 573px;
    height: 284px;

}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 1rem;
}

.map {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 1rem;
}

.price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 1rem;
    margin: 0 auto;

}

.choose-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;

}

.choose-des {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    width: 643px;
    margin: 0 auto;
}

.pri-head {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.pri-des {
    color: #5A5A5D;
    font-size: 1.5rem;
    font-weight: 400;
}



/* newsletter section start */
.newsletter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.newsletter-container1 {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;

    padding: 3rem;
}

input {
    margin: 0.5rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    border: 0;
    padding: 1rem 0.5rem;
}

.news-btn {
    margin: 0.5rem;
    border-radius: 8px;
    background: #FF5400;
    width: 410px;
    border: 0;
    padding: 1rem 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
}
.newsletter-title{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.newsletter-des{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
/* newsletter section end */
/* footer section start */
footer{
    background: rgba(19, 19, 24, 0.10);
    margin-top: 60px;
}
.footer-section{
    width: 872px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}
.footer-des{
    padding-bottom: 50px;
    padding-top: 30px;
}
.social{
    padding: 30px;
}




/* Media Query Section*/
@media screen and (max-width:576px) {

    /* banner section */
    .input-container {}
}