@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;

}

body {
    
    margin: 0 auto;
    border: 2px solid chocolate;

}

/* Nav bar start */
nav,
.logo,
.nav-menu {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    margin: auto 1.5rem;
}

.nav-menu li {
    list-style-type: none;
    padding: 10px;
    color: var(--Dark-02, #424247);
    font-size: 1.2rem;
    font-weight: 400;

}

.logo-img {
    padding: 1rem;
}

.logo-name {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

span {
    color: #ff5400;
}

.nav-menu .home {
    color: #ff5400;
    font-weight: 700;
}

/* Nav bar end */
/* Banner Section Start */
.banner {
    background-image: url(Images/header-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    height: 550px;
    border-radius: 1rem;
    margin: 0 auto;
    display: none;
}

.input-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0rem 11.6rem 0rem 11.6rem;
}

.input-container img {
    width: 1.5rem;
    width: 1.5rem;
    color: rgba(19, 19, 24, 0.7);
    background-color: #FFF;
    padding: 10px;

}

.banner .banner-title,
.banner-des {
    text-align: center;
}

.banner-title {
    padding-top: 7.5rem;
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
}

.banner-des {
    padding: 10px 0px 30px 0px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

input,
button {

    background-color: #fff;
    padding: 10px;
    border: 0;
}

.input1 {
    display: flex;
}

button {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    background: #FF5400;
}

.input1 .btn {
    background-color: #FF5400;
    color: #FFF;
}

/* Banner Section end */

/* Choose Section start */

.choose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 6.25rem;
}

.choose-title,
.choose-des,.price {
    text-align: center;
}

.hotel,
.map,
.price {
    width: 573px;
    height: 284px;

}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 1rem;
}

.map {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 1rem;
}

.price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 1rem;
    margin: 0 auto;
    
}
.choose-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    
}
.choose-des{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    width: 643px;
    margin: 0 auto;
}
.pri-head{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.pri-des{
    color: #5A5A5D;
    font-size: 1.5rem;
    font-weight: 400;
}

/* destination section start */
.destination-section{
    margin-top: 6.25rem;
}
.mal-indo,.sri-north-kas,.bang-ban{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;

}
.mal-indo{
    margin-top: 3rem;
}
/* 
.maldives{
    background-image: url(Images/maldives.png);
    background-repeat: no-repeat;
    width: 100%;
    width: 100%;
}
.indonesia{
    background-image: url(Images/indonesia.png);
    background-repeat: no-repeat;
}
.srilanka{
    background-image: url(Images/srilanka.png);
    background-repeat: no-repeat;
}
.north{
    background-image: url(Images/north-america.png);
    background-repeat: no-repeat;
}
.kashmir{
    background-image: url(Images/kashmir.png);
    background-repeat: no-repeat;
}
.bd{
    background-image: url(Images/bangladesh.png);
    background-repeat: no-repeat;
}
.bandarban{
    background-image: url(Images/bandarban.png);
    background-repeat: no-repeat;
} */


/* Media Query Section*/
@media screen and (max-width:576px) {

    /* banner section */
    .input-container {
        flex-direction: column;
        margin: 0px;
    }
}